* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.barco2 img {
  max-width: 60%;

  animation: mymove 4s infinite;
}
@keyframes mymove {
  65% {
    transform: rotate(8deg) translate(8px, 0);
  }
}

.barco2 img {
  animation: mymove 4s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.logo {
  display: flex;
  width: 20%;
  justify-content: center;
}
.logo2 {
  width: 80%;
}

.buttons {
  display: flex;
  width: 20%;
  justify-content: center;
}
.boton {
  margin: auto;
  text-decoration: none;
  padding: 0 30px;
}
.boton2 {
  margin: auto;
  text-decoration: none;
}
.buttons .boton button {
  width: 130px;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  .buttons {
    margin-top: 50px;
  }
  .barco {
    max-width: 50%;
    margin-bottom: 10%;
  }
  .logo {
    width: 35%;
  }
}

.slide {
  position: absolute;
  animation: slide 4s infinite linear;
  box-sizing: border-box;
}

#modal {
  box-shadow: 10px 10px 53px 10px rgba(0, 0, 0, 0.75);
  height: 50%;
  width: 75%;
  margin: 10% auto 2%;
  background-color: white;
}

.modalButton {
  text-align: center;
}
.modalButton button:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

#add:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
/* SINGLE ORDER VIEW */
.singleOrderPapers {
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
}
.singleOrderContainer {
  width: 95%;
  margin: 3% auto;
  /* height: 100%; */
  padding: 1%;
}
.paper {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 1%;
  align-items: center;
}
@media (max-width: 600px) {
  .singleOrderPapers {
    display: "flex";
    flex-flow: column wrap;
    justify-content: "space-evenly";
    margin: "2%";
  }
  .paper {
    width: 80vw;
    height: 30vh;
    margin: 2% auto;
  }
}

.parrafo {
  margin-bottom: 3%;
}

.aceptarPrimeroCadeteria strong {
  color: red;
  font-size: small;
  width: 5px;
}

#alertaPickUp {
  position: fixed;
  margin: 25vh 40vw;
  text-align: center;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 30px;
  border: 1px thin;
}

.singleOrderHeader {
  display: flex;
  flex-flow: row wrap;
  padding: inherit;
  justify-content: space-between;
}

.pickUpSingleOrder {
  justify-content: flex-end;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.inputObservaciones {
  width: 95%;
}

.sendIcon {
  display: flex;
  flex-flow: row wrap;
  padding: inherit;
  justify-content: space-between;
}

.sendIcon2 {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.noFocus {
  pointer-events: none;
}
.filterActive {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  display: flex;
  flex-flow: column wrap;
  background-color: lightslategray;
  z-index: 1;
  padding: 2em;
  border-radius: 10% 0 0 10%;
  transition: 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: auto;
  box-shadow: -12px 0px 23px -7px rgba(0, 0, 0, 0.75);
}
.filterHidden {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  transition: 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: 0;
}

@media (max-width: 1068px) {
  .filterActive {
    transform: scale(0.8) translate(10%, -60%);
  }

  .filterHidden {
    transform: scale(0.8) translate(10%, -60%);
  }
}

#filterButton {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: lightslategray;
  color: beige;
}
.filterActive * {
  color: beige !important;
}
.filterActive h3 {
  text-align: center;
}

.metriCards {
  display: flex;
  margin: 2% 5%;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 10rem;
  box-shadow: 15px 10px 30px -10px rgba(0, 0, 0, 0.75) !important;
  text-align: center;
}

#metricsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#graphContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#chart {
  margin-top: 7em;
  transform: scale(0.8);
  width: 85% !important;
}
